[Unit]
Description=Photon Dashboard
After=multi-user.target

[Service]
Type=simple
User=root
Environment=DISPLAY=:0 VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/broadcom_icd.aarch64.json
ExecStart=/usr/bin/xinit /root/.xinitrc -- :0 vt1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
